####################################################################################################
# This is the config file for the 'InstallFullDB.sh' script
#
# You need to insert
#   DB_HOST:      Host on which the database resides
#   DATABASE:     Your database
#   USERNAME:     Your username
#   PASSWORD:     Your password
#   CORE_PATH:    Your path to core's directory (OPTIONAL: Use if you want to apply remaining core updates automatically)
#   SD2_PATH:     Your path to SD2's directory (OPTIONAL: Use if you want to apply SD2 database automatically)
#   ACID_PATH:    Your path to a git-clone of ACID (OPTIONAL: Use it if you want to install recent downloaded acid)
#   MYSQL:        Your mysql command (usually mysql)
#
####################################################################################################

## Define the host on which the mangos database resides (typically localhost)
DB_HOST="$MYSQL_HOST"

## Define the database in which you want to add clean classic DB
DATABASE="mangos"

## Define your username
USERNAME="root"

## Define your password (It is suggested to restrict read access to this file!)
PASSWORD="$MYSQL_ROOT_PASSWORD"

## Define the path to your core's folder (This is optional)
##   If set the core updates located under sql/updates from this mangos-directory will be added automatically
CORE_PATH="/mangos"

## Define the path to the folder into which the SD2 database is located (This is optional)
##   If set the file scriptdev2.sql will be applied from this folder
SD2_PATH="/mangos/sql/scriptdev2"

## Define the path to the folder into which you cloned ACID (This is optional)
##   If set the file acid_classic.sql will be applied from this folder
ACID_PATH="/acid"

## Define your mysql programm if this differs
MYSQL="mysql"

## Define if the 'dev' directory for processing development SQL files needs to be used
##   Set the variable to "YES" to use the dev directory
DEV_UPDATES="NO"
